<div class="site-section">
    <div class="container register-container">
        <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <h1 class="mb-4 text-center">Login</h1>

            {{#if messages}}
            <div class="alert alert-danger">
                Invalid credentials
            </div>
            {{/if}}

            <form method="post">
                <div class="form-group mb-3">
                    <label for="username">Username *</label>
                    <input type = "text" name="username" id="username" required class="form-control" />
                </div>

                <div class="form-group mb-4">
                    <label for="password">Password *</label>
                    <input name="password" id="password" type="password" required class="form-control" />
                </div>

                <div class="form-group text-center">
                    <button class="btn btn-primary px-5">
                    Login
                    </button>
                    <a href="/auth/github" class="btn btn-secondary px-4">
                        Login with GitHub
                    </a>
                </div>

                <p class="text-center mt-3">
                    Need an account?
                    <a href="/register">Register</a>
                </p>
            </form>

        </div>
        </div>
    </div>
</div>
